<div class="scroll">
    <div class="scrollContainer">
        <div class="panel" id="home">
            <h2>
                <% if admin? %>
                    <%= "Welcome #{settings.username} to NunezCo Game Center " %>
                <% else %>
                    <%= "Welcome to NunezCo Game Center" %>
                <% end %>
            </h2>   
                <div class="col_400 float_l">
                    <p><em>Choose a map</em></p>  
                    <p align="justify">  Welcome to our play center, We are working to bring you an amazing list of games. Since 2013
                    We have been brining you fun and entertainment, with our new release we have now 2 games, available in the this game center! </p>    
                    
                    <p><em>Available Maps</em></p>  
                    <ul> 
                        <li><a href="/game">Gothons From Planet Percal #25</a></li>
                        <li><a href="#">Politics Rage</a></li>
                        <li><a href="#">Social Zombies - Soon!</a></li>
                    </ul>
                </div>
