<div class="scroll">
    <div class="scrollContainer">
        <div class="panel" id="home">
            <h2>
                <% if admin? %>
                    <%= "Welcome #{settings.username} to NunezCo Game Center " %>
                <% else %>
                    <%= "Welcome to NunezCo Game Center" %>
                <% end %>
            </h2>   
                <div class="col_400 float_l">
                    <p><em>Choose a map</em></p>  
                    <p align="justify">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta sed nisi id rutrum. Fusce at elit sit amet justo volutpat accumsan in vel quam. Vivamus sit amet lacinia ante, quis facilisis sem. Duis lacus purus, bibendum nec condimentum id, egestas vitae nisl. Sed malesuada convallis venenatis. Pellentesque non mauris facilisis eros gravida pharetra. Phasellus sollicitudin metus vitae tincidunt interdum. Nam venenatis velit sed odio malesuada, sollicitudin feugiat nulla pellentesque. Nulla rhoncus nisi et est rhoncus, eu pellentesque nisl congue. </p>    
                    
                    <p><em>Available Maps</em></p>  
                    <ul> 
                        <li><a href="/game">Gothons From Planet Percal #25</a></li>
                        <li><a href="#">Social Zombies</a></li>
                        <li><a href="#">Politics Rage</a></li>
                    </ul>
                </div>
