<div class="scroll">
    <div class="scrollContainer">
        <div class="panel" id="home">
            <h2>Welcome to NunezCo Game Center</h2>   
                <div class="col_400 float_l">
                    <p><em>Choose a map</em></p>       
                        <ul>
                            <li><a href="/game">Map 1</a></li>
                            <li><a href="#">Map 2</a></li>
                        </ul>
                </div>
                <div class="col_280 float_r">   
                    <h3>Our Services</h3>
                        
                    <ul class="service_list">
                            <li><a href="#" class="service_one">I won't</a></li>
                            <li><a href="#" class="service_two">Work until</a></li>
                            <li><a href="#" class="service_three">You Decide to</a></li>
                            <li><a href="#" class="service_four">Add some</a></li> 
                            <li><a href="#" class="service_five">Help Here</a></li>   
                    </ul>
                </div>                
            </div><!-- end of home -->