<div class="scroll">
    <div class="scrollContainer">
        <div class="panel" id="home">
            <h2>Not authorized</h2>
                <div class="col_400 float_l">
                    <p><em>You need to login!</em></p>       
                    <p> To access the game area, you need to login.
                        Please follow this <a href="/admin">link</a>
                </div>