<div class="scroll">
    <div class="scrollContainer">
        <div class="panel" id="home">
            <h2>Public access</h2>   
                <div class="col_400 float_l">
                    <p><em>You can see me</em></p>
                    <p> 
                        Here is the PRIVATE access, everyone can see this but
                        be carefull with what your share and blah blah blah.
                        You know I should be working right now but Im doing
                        this creepy text trying to not finish this app xD
                    </p>

                    <p> 
                        The man who invented it doesn't want it. The man 
                        who bought it doesn't need it. The man who needs it 
                        doesn't know it. What is it?
                    </br>
                        R: A coffin.
                    </p>

                    <p>
                        You want to hire a temporary employee for one month. You offer him reasonable wages, but the employee suggests an alternative. For the first day of work, he will be paid a penny. For the second day, two pennies. For the third day, four pennies. The salary for each subsequent day will be double the previous day's, until the one month term is over. Ignoring the legalities of such a situation, would it be a good idea to accept the potential employee's proposal?
                    </br>
                        R: Not at all. He'll earn $5,368,709.12 on the thirtieth day alone.
                    </p>

                </div>
                <div class="col_280 float_r">   
                    <h3>Our Services</h3>
                        
                    <ul class="service_list">
                            <li><a href="#" class="service_one">I won't</a></li>
                            <li><a href="#" class="service_two">Work until</a></li>
                            <li><a href="#" class="service_three">You Decide to</a></li>
                            <li><a href="#" class="service_four">Add some</a></li> 
                            <li><a href="#" class="service_five">Help Here</a></li>   
                    </ul>
                </div>                
            </div><!-- end of home -->