<div class="scroll">
    <div class="scrollContainer">
        <div class="panel" id="home">
            <h2>
                <%= "Private Access Granted! Welcome #{settings.username} " %>
            </h2> 
                <div class="col_400 float_l">
                    <p><em>Top Secret</em></p>       
                        <p>Here is the PRIVATE access, not everyone can see this but
                        be carefull with what your share and blah blah blah.
                        You know I should be working right now but Im doing
                        this creepy text trying to not finish this app xD </p>
                </div>