<div class="scroll">
    <div class="scrollContainer">
        <div class="panel" id="home">
            <h2>Public access</h2>   
                <div class="col_400 float_l">
                    <p><em>You can see me</em></p>
                    <p align="justify"> 
                        Here is the public access, everyone can see this but
                        be carefull with what your share.
                    </br></br>

                        The man who invented it doesn't want it. The man 
                        who bought it doesn't need it. The man who needs it 
                        doesn't know it. What is it?
                    </br>

                        R: A coffin.
                    </br></br>

                        You want to hire a temporary employee for one month. You offer him reasonable wages, but the employee suggests an alternative. For the first day of work, he will be paid a penny. For the second day, two pennies. For the third day, four pennies. The salary for each subsequent day will be double the previous day's, until the one month term is over. Ignoring the legalities of such a situation, would it be a good idea to accept the potential employee's proposal?
                    </br>
                        R: Not at all. He'll earn $5,368,709.12 on the thirtieth day alone.
                    </p>

                </div>